<div style="position: absolute;right: 500px;">
    <img src="../assets/img/logo.png" >
    </div>
    <div style="position: absolute;right: 200px;top:200px">
     <h2>INICIAR SESIÓN</h2>
     <h4>USUARIO <input type="text" size="15" maxlength="30" placeholder="USUARIO" name="usuario"></h4>
     <h4>CONTRASEÑA <input type="password" size="15" maxlength="30" placeholder="CONTRASEÑA" name="password"></h4>
     <form (click)="iniciar()">
        <button type="submit">INICIAR SESIÓN</button>
      </form><br>
     <a href="http://localhost:4200/register" style="color:black">¿No tienes cuenta?Cree una aqui</a>
    </div>
    
    